<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <util:list list-class="java.util.LinkedList" id="myBestFriends1">
        <value>Aman</value>
        <value>Vishaka</value>
        <value>Gagan</value>
        <value>Umang</value>
    </util:list>

    <util:list list-class="java.util.Vector" id="myBestFriends">
        <value>Aman</value>
        <value>Vishaka</value>
        <value>Gagan</value>
        <value>Umang</value>
    </util:list>

    <util:map map-class="java.util.HashMap" id="myFees">
        <entry key="Spring Framework" value="8000"/>
        <entry key="Django Framework" value="5000"/>
        <entry key="Hibernate Framework" value="2000"/>
    </util:map>

    <util:properties id="myproperties">
        <prop key="driver" >com.mysql.jdbc.Driver</prop>
        <prop key="username">durgesh</prop>
        <prop key="password">root</prop>
    </util:properties>


    <bean class="com.chaitanya.springcore.e1.sr_011_standAloneCollections.Person" name="person1">
<!--        <property name="friends">-->
<!--            <ref bean="myBestFriends"/>-->
<!--        </property>-->
        <property name="friends" ref="myBestFriends"></property>
        <property name="feeStructure" ref="myFees"></property>
        <property name="properties" ref="myproperties"></property>
    </bean>

    <bean class="com.chaitanya.springcore.e1.sr_011_standAloneCollections.Person" name="person2">
        <property name="friends" ref="myBestFriends"></property>
        <property name="feeStructure" ref="myFees"></property>
        <property name="properties" ref="myproperties"></property>
    </bean>

</beans>